@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 245);
}

button {
  padding: 0.2rem 0.5rem;
  width: 100px;
  margin: 0.5rem;
  background-color: rgb(217, 232, 251);
  border: 1px solid lightblue;
}

button:hover {
  background-color: rgb(154, 197, 253);
}

* {
  box-sizing: border-box;
}
